@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-rgb: 12, 15, 17;
  --secondary-rbg: 238, 245, 252;
  --background-rgb: 168, 173, 178;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-rgb: 168, 173, 178;
    --secondary-rbg: 238, 245, 252;
    --background-rgb: 12, 15, 17;
  }
}

body {
  color: rgb(var(--primary-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  h1 {
    color: rgb(var(--secondary-rbg));
    @apply text-4xl;
  }

  h2 {
    color: rgb(var(--secondary-rbg));
    @apply
      text-2xl
    ;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
