@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-rgb: 12, 15, 17;
  --secondary-rbg: 238, 245, 252;
  --background-rgb: 168, 173, 178;
  --hover-rgb: 67, 133, 215;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-rgb: 168, 173, 178;
    --secondary-rbg: 238, 245, 252;
    --background-rgb: 12, 15, 17;
  }
}

body {
  color: rgb(var(--primary-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  h1 {
    color: rgb(var(--secondary-rbg));
    @apply text-4xl;
  }

  h2 {
    color: rgb(var(--secondary-rbg));
    @apply
      text-2xl
    ;
  }
}

@layer components {
  .btn {
    @apply
      flex
      items-center
      border-color-primary
      border-2
      rounded-md
      p-1
    ;
    transition: all .1s ease;
  }

  .btn:hover {
    transform: scale(1.01);
  }

  .pill {
    @apply
      border
      rounded-full
      py-0.5
      px-3
    ;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .border-color-primary {
    border-color: rgb(var(--primary-rgb));
  }
}
